@using (Ajax.BeginForm("PremiumsDiscountsStaffSearch", "PremiumsDiscountsStaff", new AjaxOptions
{
    UpdateTargetId = "DisplayAreaMain",
    OnSuccess = "SuccessUpdateDepartment",
    OnFailure = "FailedUpdateDepartment",
    OnComplete = "ClearInputFields",
    OnBegin = "RestTableArea",
    HttpMethod = "POST",
}, new { id = "FormPremiumsDiscountsStaffSearch", autocomplete = "off" }))
{
    <div class="row">
        <div class="col-md-6">
            @{Html.RenderAction("Select", "LocationBranch");}
        </div>
        <div class="col-md-6">
            @{Html.RenderAction("Select", "HRDepartment");}
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <div class="form-group  row">
                <label class="control-label text-right col-md-5">From Emp. No</label>
                <div class="col-md-7">
                    <input id="FromEmpNo" name="FromEmpNo" class="vertical-spin" type="text" data-bts-button-down-class="btn btn-secondary btn-outline" data-bts-button-up-class="btn btn-secondary btn-outline" value="" name="vertical-spin">
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-group row">
                <label class="control-label text-right col-md-5">To Emp. No</label>
                <div class="col-md-7">
                    <input id="ToEmpNo" name="ToEmpNo" class="vertical-spin" type="text" data-bts-button-down-class="btn btn-secondary btn-outline" data-bts-button-up-class="btn btn-secondary btn-outline" value="" name="vertical-spin">
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            @{Html.RenderAction("Input", "Employee");}
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @{Html.RenderAction("Select", "BonusesOpponent");}

        </div>
        <div class="form-group col-md-6">
            <div class="input-daterange input-group" id="date-range">
                <input type="text" class="form-control" name="FromDate" />
                <div class="input-group-append">
                    <span class="input-group-text bg-info b-0 text-white">TO</span>
                </div>
                <input type="text" class="form-control" name="ToDate" />
            </div>
        </div>


    </div>
    <div class="row">
               <div class="form-group col-md-8" style="display:flex;justify-content:space-around;">
                   <div class="custom-control custom-radio">
                       <input type="radio" id="OptionRadio1" name="OptionRadio" class="custom-control-input">
                       <label class="custom-control-label" for="OptionRadio1">New Value</label>
                   </div>
                   <div class="custom-control custom-radio">
                       <input type="radio" id="OptionRadio2" name="OptionRadio" class="custom-control-input">
                       <label class="custom-control-label" for="OptionRadio2">Salary same yrs</label>
                   </div>
                   <div class="custom-control custom-radio">
                       <input type="radio" id="OptionRadio3" name="OptionRadio" class="custom-control-input">
                       <label class="custom-control-label" for="OptionRadio3">Salary last yrs</label>
                   </div>
                   <div class="custom-control custom-radio">
                       <input type="radio" id="OptionRadio4" name="OptionRadio" class="custom-control-input">
                       <label class="custom-control-label" for="OptionRadio4">% Salary yrs</label>
                   </div>
               </div>
               <div class="form-actions col-md-4">
                   <button type="reset" class="btn btn-inverse" onclick="RestDefault()"><i class="fa fa-eraser"></i> Clear</button>

                   <button type="submit" class="btn btn-success">  <i class="fa fa-search"></i> Search</button>
               </div>
           </div>

}
<script>   


    function RestTableArea() { }
    function SuccessUpdateDepartment() { }
    function FailedUpdateDepartment() { }
    function ClearInputFields() {
        console.log("Clear")
    }
    function RestDefault() {
        $('#SelectBranch').val("").change();
        $('#SelectEmpName').val("").change();
        $('#SelcetDepartment').val("").change();
        $('#SelcetBonusesOpponent').val("").change();
        $('#FromEmpNo').val("")
        $('#ToEmpNo').val("")
    }
</script>
