
<div class="form-group  row">
    <label class="control-label text-right col-md-3">Emp. Name</label>
    <div class="col-md-9">
        <input id="EmpName" name="EmpName" type="text" class="form-control form-control-danger" placeholder="By Name">
    </div>
</div>
