

<div class="form-group has-danger row">
    <label class="control-label text-right col-md-3">Emp. Name</label>
    <div class="col-md-9">
        <select id="SelectEmpName" name="SelectEmpName" class="select2 form-control custom-select" style="width: 100%; height:36px;">

            <option value="">There is no result found.</option>


        </select>
    </div>
</div>
