<div class="card-body">
    <h4 class="card-title">ALL Task</h4>
    <div class="row button-group">
        <div class="col-lg-2 col-md-4">
                <button onclick="location.href='@Url.Action("Index", "FixedParameter")';"  type="button" class="btn btn-block btn-lg btn-info">
                    Fixed Parameter
                </button>
        </div>
        <div class="col-lg-2 col-md-4">
            <button onclick="location.href='@Url.Action("Index", "InstallSalariesAndSocialSecurity")';" type="button" class="btn btn-block btn-lg btn-success">Install Salaries And Social Security</button>
        </div>
    </div>
</div>